<div class="container">
  <h1>Stupid Coaching</h1>
  <span class="description">Ask your coach everything</span>
  <form class="ask-form" action="http://localhost:3000/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>


