// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$description-color:grey;

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description {
  margin: 5% auto;
  color: $description-color;
}

.ask-form {
  width: 100%;
}